<h1>Chair Page</h1>

<h2>Available Conferences:</h2>
<ol class="conferences">
  <li *ngFor="let conference of conferences">
    {{conference.name}} --- {{conference.startDate}} --- {{conference.endDate}}
    <button class="updateButton" [class.update] = "true" (click)="updateConference(conference);$event.stopPropagation()" >Update</button>
  </li>
</ol>

<h2>Invite other Chairs or PC Members</h2>
<form class="bottom-form" [formGroup]="inviteForm">
  <input type="text" formControlName="email" placeholder="Email">
  <select name="types" formControlName="memberType">
    <option value="Chair">Chair</option>
    <option value="PC Member">PC Member</option>
  </select>
  <input type="submit" class="button-style" value="Invite" (click)="invite()">
</form>

<button>
  <a href="/submit/1">Add Paper</a>
</button>
<button>
  <a href="/chair-sections">Add Section</a>
</button>
